<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TRAVEL CITY</title>
    <link rel="shortcut icon" type="image/png" href="/Public/Image/icon.png" />
    <!-- Box-icon -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/Public/Style/blog.css" />
  </head>
  <body>
    <!-- page header -->
    <nav>
      <div class="nav__logo container">
        <a href="/home">Tra<span style="color: red">vel</span></a>
      </div>
    </nav>

    <section class="home" id="home">
      <div class="home-text container">
        <h2 class="home-title">Travel Blogs</h2>
        <span class="home-subtitle">Share your wonderful moments</span>
      </div>
    </section>
    <!-- page body -->

    <div class="post-filter container">
      <span class="filter-item active-filter" data-filter="all">All</span>
      <span class="filter-item" data-filter="nature">Nature</span>
      <span class="filter-item" data-filter="food">Food</span>
      <span class="filter-item" data-filter="travel">Travel</span>
    </div>

    <div class="post container">
      <!-- Post 1 -->
      <!-- <div class="post-box nature">
        <img
          src="https://images.pexels.com/photos/533937/pexels-photo-533937.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt=""
          class="post-img"
        />
        <h2 class="category">nature</h2>
        <a href="#" class="post-title">How to create the best UI with Figma</a>
        <span class="post-date">12 Feb 2022</span>
        <p class="post-description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur,
          similique, rerum excepturi harum, vitae facilis corrupti vel modi
          debitis est perferendis aut quasi ea unde repudiandae iste architecto.
          Corporis, voluptates.
        </p>
        <div class="profile">
          <img
            src="https://images.pexels.com/photos/533937/pexels-photo-533937.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt=""
            class="profile-img"
          />
          <span class="profile-name">Admin</span>
        </div>
      </div> -->
    </div>
    <!-- page footer -->
    <footer class="footer">
      <div class="cont">
        <div class="row">
          <div>
            <h2>Smart City Travel</h2>
            <p>
              Travel makes one modest. You see what a tiny place you occupy in
              the world.
            </p>
          </div>
          <div>
            <h4>Menu</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Tours</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contacts</a></li>
            </ul>
          </div>
          <div>
            <h4>Help</h4>
            <ul>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Status</a></li>
              <li><a href="#">Options</a></li>
            </ul>
          </div>
          <div>
            <h4>Contacts</h4>
            <div class="socialButton">
              <a><i class="bx bxl-instagram-alt"></i></a>
              <a><i class="bx bxl-facebook"></i></a>
              <a><i class="bx bxl-twitter"></i></a>
              <a><i class="bx bxl-discord-alt"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p>Welcome To Travel</p>
      </div>
    </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      // render giao diện
      $(document).ready(function () {
        // Gọi API để lấy dữ liệu từ MongoDB
        $.ajax({
          url: "/api/blogs", // Điều chỉnh đường dẫn API nếu cần
          method: "GET",
          success: function (data) {
            // Xử lý dữ liệu và hiển thị trên trang
            data.forEach(function (blog) {
              // Tạo phần tử HTML cho mỗi blog
              var blogElement = `
            <div class="post-box ${blog.category.toLowerCase()}">
              <img src="${blog.cardImage}" alt="" class="post-img" />
              <h2 class="category">${blog.category}</h2>
              <a href="#" class="post-title">${blog.title}</a>
              <span class="post-date">${new Date(
                blog.date
              ).toLocaleDateString()}</span>
              <p class="post-description">${blog.description}</p>
              <div class="profile">
                <img src="${blog.profileImage}" alt="" class="profile-img" />
                <span class="profile-name">${blog.author}</span>
              </div>
            </div>`;

              // Thêm blogElement vào phần container của bài đăng
              $(".post.container").append(blogElement);
            });
          },
          error: function (error) {
            console.error(error);
          },
        });

        // Xử lý sự kiện khi người dùng click vào một filter-item

        $(".filter-item").click(function () {
          const filterValue = $(this).attr("data-filter").toLowerCase();

          // Thêm lớp 'active-filter' vào phần tử được click và loại bỏ nó từ các phần tử anh chị em
          $(this)
            .addClass("active-filter")
            .siblings()
            .removeClass("active-filter");

          // Hiển thị hoặc ẩn các bài đăng dựa trên category được chọn
          if (filterValue === "all") {
            $(".post-box").show("1000");
          } else {
            $(".post-box").hide("1000");
            $(`.post-box.${filterValue}`).show("1000");
          }
        });
      });
    </script>
  </body>
</html>
