<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TRAVEL CITY</title>
    <link rel="stylesheet" href="/Public/Style/contact.css" />
    <link rel="shortcut icon" type="image/png" href="/Public/Image/icon.png" />
  </head>
  <body>
    <section class="contact">
      <div class="contact-form">
        <h1>Contact <span>Us</span></h1>
        <form id="contactForm">
          <input type="text" placeholder="Your Name" required />
          <input
            type="email"
            name="email"
            id="email"
            placeholder="E-mail"
            required
          />
          <input type="text" placeholder="Write a Subject" required />
          <textarea cols="30" rows="10" placeholder="Your Message" required>
          </textarea>
          <input
            type="submit"
            id="submitBtn"
            name="submit"
            value="Submit"
            class="btn"
          />
        </form>
      </div>
      <div class="contact-img">
        <img src="https://img.lovepik.com//photo/40020/3644.jpg_860.jpg" />
      </div>
    </section>
  </body>
</html>
