<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="/Public/Image/icon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>TRAVEL CITY</title>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/Public/Style/home.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- page header -->
    <nav>
      <div class="nav__logo"><a href="#">Tra<span style="color: red;">vel</span></p></a></div>
      <ul class="nav__links">
        <li class="link"><a href="/home">Home</a></li>
        <li class="link"><a href="/blog">Blogs</a></li>
        <li class="link"><a href="/tours">Tours</a></li>
        <li class="link"><a href="/services">Services</a></li>
        <li class="link"><a href="/contact">Contacts</a></li>
      </ul>
    </nav>
    <header>
      <div class="section__container">
        <div class="header__content">
          
        </div>
      </div>
    </header>

    <!-- page body -->
    <section class="journey__container">
      <div class="section__container">
        <h2 class="section__title">Start Your Journey</h2>
        <p class="section__subtitle">The most searched tourist in 2023</p>
        <div class="journey__grid">
          <div class="country__card">
            <img
              src="https://images.pexels.com/photos/5671074/pexels-photo-5671074.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="country"
            />
            <div class="country__name">
              <i class="ri-map-pin-2-fill"></i>
              <span>Paris, France</span>
              <div class="country__rating" style="padding-left: 100px;">
                <i class='bx bx-star' data-index="1"></i>
                <i class='bx bx-star' data-index="2"></i>
                <i class='bx bx-star' data-index="3"></i>
                <i class='bx bx-star' data-index="4"></i>
                <i class='bx bx-star' data-index="5"></i>
              </div>
            </div>
          </div>
          <div class="country__card">
            <img
              src="https://images.pexels.com/photos/2676642/pexels-photo-2676642.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="country"
            />
            <div class="country__name">
              <i class="ri-map-pin-2-fill"></i>
              <span>Rome, Italy</span>
              <div class="country__rating" style="padding-left: 120px;">
                <i class='bx bx-star' data-index="1"></i>
                <i class='bx bx-star' data-index="2"></i>
                <i class='bx bx-star' data-index="3"></i>
                <i class='bx bx-star' data-index="4"></i>
                <i class='bx bx-star' data-index="5"></i>
              </div>
            </div>
          </div>
          <div class="country__card">
            <img
              src="https://images.pexels.com/photos/5876668/pexels-photo-5876668.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="country"
            />
            <div class="country__name">
              <i class="ri-map-pin-2-fill"></i>
              <span>New York City, USA</span>
              <div class="country__rating" style="padding-left: 60px;">
                <i class='bx bx-star' data-index="1"></i>
                <i class='bx bx-star' data-index="2"></i>
                <i class='bx bx-star' data-index="3"></i>
                <i class='bx bx-star' data-index="4"></i>
                <i class='bx bx-star' data-index="5"></i>
              </div>
            </div>
          </div>
          <div class="country__card">
            <img
              src="https://images.pexels.com/photos/2339009/pexels-photo-2339009.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="country"
            />
            <div class="country__name">
              <i class="ri-map-pin-2-fill"></i>
              <span>Tokyo, Japan</span>
              <div class="country__rating" style="padding-left: 100px;">
                <i class='bx bx-star' data-index="1"></i>
                <i class='bx bx-star' data-index="2"></i>
                <i class='bx bx-star' data-index="3"></i>
                <i class='bx bx-star' data-index="4"></i>
                <i class='bx bx-star' data-index="5"></i>
              </div>
            </div>
          </div>
          <div class="country__card">
            <img
              src="https://images.pexels.com/photos/19383435/pexels-photo-19383435/free-photo-of-n-c-con-song-thap-n-c-anh.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="country"
            />
            <div class="country__name">
              <i class="ri-map-pin-2-fill"></i>
              <span>London, United Kingdom</span>
              <div class="country__rating" style="padding-left: 20px;">
                <i class='bx bx-star' data-index="1"></i>
                <i class='bx bx-star' data-index="2"></i>
                <i class='bx bx-star' data-index="3"></i>
                <i class='bx bx-star' data-index="4"></i>
                <i class='bx bx-star' data-index="5"></i>
              </div>
            </div>
          </div>
          <div class="country__card">
            <img
              src="https://images.pexels.com/photos/19872/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="country"
            />
            <div class="country__name">
              <i class="ri-map-pin-2-fill"></i>
              <span>Beijing, China</span>
              <div class="country__rating" style="padding-left: 90px;">
                <i class='bx bx-star' data-index="1"></i>
                <i class='bx bx-star' data-index="2"></i>
                <i class='bx bx-star' data-index="3"></i>
                <i class='bx bx-star' data-index="4"></i>
                <i class='bx bx-star' data-index="5"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="banner__container">
      <div class="section__container">
        <div class="banner__content">
          <h2>App Weather</h2>
          <p>
            Weather profoundly shapes the travel experience, influencing
            destination choices, activities, and cultural engagements. Beyond
            comfort, it impacts transportation, outdoor plans, and appropriate
            attire. Seasonal patterns and local climates necessitate careful
            trip planning. Weather also plays a pivotal role in cultural events,
            enriching the overall travel experience. Understanding and adapting
            to these nuances enhance the journey, creating dynamic encounters
            with diverse landscapes and cultures. In essence, weather acts as a
            silent yet powerful orchestrator, shaping the narrative of every
            travel adventure .
          </p>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Open
          </button>
          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5
                    class="modal-title"
                    id="exampleModalLabel"
                    style="color: black"
                  >
                    Weather
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <div id="weather">
                    <input
                      type="text"
                      placeholder="Search..."
                      class="input-search"
                    />
                    <div class="content">
                      <h1 class="name">
                        <span class="city"></span>
                        <span style="color: black">,</span>
                        <span class="country"></span>
                      </h1>
                      <p class="time"></p>
                      <div class="temperature">
                        <span class="value"></span>
                        <span><sup>o</sup>C</span>
                      </div>
                      <div class="short-desc"></div>
                      <div class="more-desc">
                        <div class="visibility">
                          <i class="far fa-eye"></i>
                          <span></span>
                        </div>
                        <div class="wind">
                          <i class="fas fa-wind"></i>
                          <span></span>
                        </div>
                        <div class="cloud">
                          <i class="fas fa-cloud-sun"></i>
                          <span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="display__container">
      <div class="section__container">
        <h2 class="section__title">Why Choose Us</h2>
        <p class="section__subtitle">
          The gladdest moment in human life, is a departure into unknown lands.
        </p>
        <div class="display__grid">
          <div class="display__card grid-1">
            <img
              src="https://images.pexels.com/photos/533937/pexels-photo-533937.jpeg?auto=compress&cs=tinysrgb&w=600"
              alt="image"
            />
          </div>
          <div class="display__card">
            <i class="ri-earth-line"></i>
            <h4>Passionate Travel</h4>
            <p>Fuel your passion for adventure and discover new horizons</p>
          </div>
          <div class="display__card">
            <img
              src="https://images.pexels.com/photos/884788/pexels-photo-884788.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="image"
            />
          </div>
          <div class="display__card">
            <img
              src="https://images.pexels.com/photos/36744/agriculture-arable-clouds-countryside.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="image"
            />
          </div>
          <div class="display__card">
            <i class="ri-road-map-line"></i>
            <h4>Beautiful Places</h4>
            <p>Uncover the world's most breathtakingly beautiful places</p>
          </div>
        </div>
      </div>
    </section>
    <!-- page footer -->
    <footer class="footer">
      <div class="cont">
        <div class="row">
          <div>
            <h2>Smart City Travel</h2>
            <p>
              Travel makes one modest. You see what a tiny place you occupy in
              the world.
            </p>
          </div>
          <div>
            <h4>Menu</h4>
            <ul>
              <li><a href="/home">Home</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/tours">Tours</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/contact">Contacts</a></li>
            </ul>
          </div>
          <div>
            <h4>Help</h4>
            <ul>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Status</a></li>
              <li><a href="#">Options</a></li>
            </ul>
          </div>
          <div>
            <h4>Contacts</h4>
            <div class="socialButton">
              <a><i class="bx bxl-instagram-alt"></i></a>
              <a><i class="bx bxl-facebook"></i></a>
              <a><i class="bx bxl-twitter"></i></a>
              <a><i class="bx bxl-discord-alt"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p>Welcome To Travel</p>
      </div>
    </footer>
    <!-- app chat  -->
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
      intent="WELCOME"
      chat-title="Chat"
      agent-id="0059705b-ffcf-49f8-bf12-272dcc6f6459"
      language-code="en"
    ></df-messenger>
    <script>
      const input = document.querySelector(".input-search");
      function changeWeatherUI(weather) {
        const city = document.querySelector(".name .city");
        const country = document.querySelector(".name .country");
        const time = document.querySelector(".time");
        const temperature = document.querySelector(".temperature .value");
        const shortDesc = document.querySelector(".short-desc");

        const visibility = document.querySelector(".visibility span");
        const wind = document.querySelector(".wind span");
        const cloud = document.querySelector(".cloud span");

        city.innerHTML = weather.name;
        country.innerHTML = weather.sys.country;
        time.innerHTML = new Date().toLocaleString();
        shortDesc.innerHTML = weather.weather[0].main;

        const temp = Math.round(weather.main.temp);
        temperature.innerHTML = temp;

        temp >= 18
          ? (document.body.className = "hot")
          : (document.body.className = "cold");

        visibility.innerHTML = weather.visibility + " (m)";
        wind.innerHTML = weather.wind.speed + " (m/s)";
        cloud.innerHTML = weather.clouds.all + " (%)";
      }

      input.addEventListener("keyup", (e) => {
        if (e.keyCode === 13) {
          getWeather(e.target.value);
        }
      });

      async function getWeather(input) {
        const url = `https://api.openweathermap.org/data/2.5/weather?q=${input}&units=metric&appid=67ffce63d19a94c476e09e1e427d491e`;

        const res = await fetch(url);
        const weather = await res.json();
        console.log(weather);

        changeWeatherUI(weather);
      }
      getWeather("ho chi minh");

      // -------------------------
     document.addEventListener("DOMContentLoaded", function () {
    const starsContainers = document.querySelectorAll('.country__rating');

    starsContainers.forEach((starsContainer, countryIndex) => {
      const stars = starsContainer.querySelectorAll('.bx-star');

      stars.forEach((star, starIndex) => {
        star.addEventListener('click', function () {
          resetStars(starsContainer);
          highlightStars(stars, starIndex + 1);
          saveRatingToLocalStorage(countryIndex, starIndex + 1);
        });

        star.addEventListener('mouseover', function () {
          resetStars(starsContainer);
          highlightStars(stars, starIndex + 1);
        });

        star.addEventListener('mouseout', function () {
          resetStars(starsContainer);
          const savedRating = getRatingFromLocalStorage(countryIndex);
          if (savedRating) {
            highlightStars(stars, savedRating);
          }
        });
      });

      // Restore the rating from localStorage on page load
      const savedRating = getRatingFromLocalStorage(countryIndex);
      if (savedRating) {
        highlightStars(stars, savedRating);
      }
    });

    function resetStars(starsContainer) {
      const stars = starsContainer.querySelectorAll('.bx-star');
      stars.forEach(star => {
        star.classList.remove('highlight');
      });
    }

    function highlightStars(stars, index) {
      for (let i = 0; i < index; i++) {
        stars[i].classList.add('highlight');
      }
    }

    function saveRatingToLocalStorage(countryIndex, rating) {
      // Use a unique key for each country
      const key = `userRating_${countryIndex}`;
      localStorage.setItem(key, rating);
    }

    function getRatingFromLocalStorage(countryIndex) {
      // Use the same unique key for each country
      const key = `userRating_${countryIndex}`;
      return localStorage.getItem(key);
    }
  });
    </script>
  </body>
</html>
