<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart City Travel</title>
    <link rel="stylesheet" href="/Public/Style/login.css" />
    <link rel="shortcut icon" type="image/png" href="/Public/Image/icon.png" />
  </head>
  <body>
    <div class="login">
      <div class="login__container">
        <h1>Login</h1>
        <form id="loginForm">
          <h5 for="username">Username</h5>
          <input
            type="text"
            class="input-login-username"
            id="username"
            name="username"
            required
          />
          <h5 for="password">Password</h5>
          <input
            type="password"
            class="input-login-password"
            id="password"
            name="password"
            required
          />
          <br />
          <button type="button" class="login__signInButton" id="loginButton">
            Login
          </button>
        </form>
        <a href="/register" class="login__registerButton">Go to Register</a>
      </div>
    </div>
    <script>
      // Function to handle login
      function handleLogin() {
        // Get the username and password from the input
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;

        // Send a POST request to the server for login validation
        fetch("/api/account/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ username, password }),
        })
          .then((response) => {
            if (response.status === 200) {
              alert("Login thành công");
              // chuyen toi page home khi dang nhap thanh cong
              window.location.href = "/home";
            } else if (response.status === 401) {
              // xu ly khi dang nhap ko thanh cong
              alert("Login failed");
            } else {
              // loi other
              alert("Error");
            }
          })
          .catch((error) => {
            console.error("Error:", error);
            // loi server
            alert("Network error");
          });
      }

      // click btn login
      document
        .getElementById("loginButton")
        .addEventListener("click", handleLogin);
    </script>
  </body>
</html>
