<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart City Travel</title>
    <link rel="stylesheet" href="/Public/Style/login.css" />
    <link rel="shortcut icon" type="image/png" href="/Public/Image/icon.png" />
  </head>
  <body>
    <div class="login">
      <div class="login__container">
        <h1>Login</h1>
        <form id="loginForm">
          <h5 for="username">Username</h5>
          <input
            type="text"
            class="input-login-username"
            id="username"
            name="username"
            required
          />
          <h5 for="password">Password</h5>
          <input
            type="password"
            class="input-login-password"
            id="password"
            name="password"
            required
          />
          <br />
          <button type="button" class="login__signInButton" id="loginButton">
            Login
          </button>
        </form>
        <a href="/register" class="login__registerButton">Go to Register</a>
      </div>
    </div>
    <script>
      // Function to handle login
      function handleLogin() {
        // Get the username and password from the input
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;

        // Check if the username and password are admin
        if (username === "admin" && password === "admin") {
          alert("Logged in as admin");
          // Chuyển tới trang admin khi đăng nhập thành công với admin
          window.location.href = "/admin";
        } else {
          // Send a POST request to the server for login validation
          fetch("/api/account/login", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ username, password }),
          })
            .then((response) => {
              if (response.status === 200) {
                alert("Logged in successfully");
                // Chuyển tới trang home khi đăng nhập thành công
                window.location.href = "/home";
              } else if (response.status === 401) {
                // Xử lý khi đăng nhập không thành công
                alert("Login failed");
              } else {
                // Lỗi khác
                alert("Error");
              }
            })
            .catch((error) => {
              console.error("Error:", error);
              // Lỗi server
              alert("Network error");
            });
        }
      }

      // Click nút login
      document
        .getElementById("loginButton")
        .addEventListener("click", handleLogin);
    </script>
  </body>
</html>
