<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TRAVEL CITY</title>
    <!-- Box-icon -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/Public/Style/tours.css" />
    <link rel="shortcut icon" type="image/png" href="/Public/Image/icon.png" />
  </head>
  <body>
    <!-- Page header -->
    <nav>
      <div class="nav__logo container">
        <a href="/home">Tra<span style="color: red">vel</span></a>
      </div>
    </nav>
    <section class="home" id="home">
      <div class="home-text container">
        <h2 class="home-title">Travel Tours</h2>
        <span class="home-subtitle">Endless source of travel inspiration</span>
      </div>
    </section>
    <!-- Page Body -->
    <h2 class="h_title" style="color: #669ccb">Explore The Wonders</h2>
    <div class="post container">
      <!-- Post 1 -->
      <!-- <div class="post-box">
        <img
          src="https://images.pexels.com/photos/533937/pexels-photo-533937.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt=""
          class="post-img"
        />
        <h2 class="category"><i class="bx bxs-map bx-xs">HCM</i></h2>
        <a href="#" class="post-title">Hồ Chí Minh</a>
        <p class="post-description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </p>
        <div class="card_btn">book now</div>
      </div> -->
    </div>
    <!-- Page Footer -->
    <footer class="footer">
      <div class="cont">
        <div class="row">
          <div>
            <h2>Smart City Travel</h2>
            <p>
              Travel makes one modest. You see what a tiny place you occupy in
              the world.
            </p>
          </div>
          <div>
            <h4>Menu</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Tours</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contacts</a></li>
            </ul>
          </div>
          <div>
            <h4>Help</h4>
            <ul>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Status</a></li>
              <li><a href="#">Options</a></li>
            </ul>
          </div>
          <div>
            <h4>Contacts</h4>
            <div class="socialButton">
              <a><i class="bx bxl-instagram-alt"></i></a>
              <a><i class="bx bxl-facebook"></i></a>
              <a><i class="bx bxl-twitter"></i></a>
              <a><i class="bx bxl-discord-alt"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p>Welcome To Travel</p>
      </div>
    </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      $(document).ready(function () {
        $.ajax({
          url: "/api/tours",
          method: "GET",
          success: function (data) {
            // Iterate over the tour data and display it on the page
            const postContainer = $(".post");

            data.forEach((tour) => {
              const postBox = $("<div>").addClass("post-box");
              const img = $("<img>")
                .attr("src", tour.image)
                .addClass("post-img")
                .attr("alt", "");
              const category = $("<h2>")
                .addClass("category")
                .html(`<i class="bx bxs-map bx-xs">${tour.location}</i>`);
              const title = $("<a>")
                .attr("href", "#")
                .addClass("post-title")
                .text(tour.name);
              const description = $("<p>")
                .addClass("post-description")
                .text(tour.title);
              const cardBtn = $("<div>")
                .addClass("card_btn")
                .text("Read More")
                .click(function () {
                  // window.location.href = `/api/tours/${tour._id}`;
                  window.location.href = `/detail?id=${tour._id}`;
                });

              postBox.append(img, category, title, description, cardBtn);
              postContainer.append(postBox);
            });
          },
          error: function (error) {
            console.error(error);
          },
        });
      });
    </script>
  </body>
</html>
